---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  frontmatter: {
    title?: string;
    description?: string;
    keywords?: string;
  };
  slug?: string;
  section?: string;
}

const { frontmatter, slug = '', section = '' } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  keywords={frontmatter.keywords}
  currentSlug={slug}
  currentSection={section}
>
  <section class="content-wrapper">
    {frontmatter.title && <h1>{frontmatter.title}</h1>}
    <article>
      <slot />
    </article>
  </section>
</BaseLayout>

<style>
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
</style>
